modules = ["swift-5.8"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Run Android"

[[workflows.workflow]]
name = "Run Desktop"
author = 42624767
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./gradlew :shared:desktopRun"

[[workflows.workflow]]
name = "Run Android"
author = 42679470
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./gradlew :composeApp:installDebug"
